*{
    box-sizing: border-box;
    margin: 0;
    padding: 5px;
}
body {
    font-family: "Poppins", sans-serif;
    --color1: #FFF ;
    --color2: #d91b0d ;
}
.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    background-color: var(--color2);
    padding: 12px 25px;
}
.logo img {width: 250px;}
.menu {display: flex;}
.menu li {padding-left: 30px;}
.menu li a {
    display: inline-block;
    text-decoration: none;
    color: var(--color1);
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    text-transform: uppercase;
}
.menu li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--color1);
    transition: 0.15s ease-in-out;
}
.menu li a:hover:after {width: 100%;}
.open-menu , .close-menu {
    position: absolute;
    color: var(--color1);
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}
.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
.close-menu {
    top: 20px;
    right: 20px;
}
#check {display: none;}
@media(max-width: 610px){
    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: var(--color2);
        transition: all 0.2s ease-in-out;
    }
    .menu li {margin-top: 40px;}
    .menu li a {padding: 10px;}
    .open-menu , .close-menu {display: block;}
    #check:checked ~ .menu {right: 0;}
}


/* estilizacao do sub-menu */
.sub-menu-1{
    display:none;
   
}
nav ul li:hover .sub-menu-1{
    display:block;
    position:absolute;
    background-color: #d91b0d;
    margin-top: 6px;
    margin-left: -47px;

}
nav ul li:hover .sub-menu-1 ul{
    display:block;
    
}
nav ul li:hover .sub-menu-1 ul li{
      width: 150px;
      text-align: center;
      border-radius: 4px;
}
nav ul li:hover .sub-menu-1 ul li:hover{
    background-color:  #d91b0d;
}
/* fim da estilizacao do sub-menu */


/* estilizacao do carrossel */
section.slider{
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0 !important;
    overflow: hidden;
}

.slider-content{
    width: 400%;
    height: auto;
    display: flex;
}

.slider-content input{
    display: none;
}

.slide-box{
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
    transition: 1s;
}

.slide-box img{
    width: 100%;
}

.nav-manual, .nav-auto{
    position: absolute;
    width: 100%;
    margin-top: 33%;
    display: flex;
    justify-content: center;
}

.nav-manual .manual-btn, .nav-auto div{
    border: 0.5px solid #ff0054;
    padding: 6px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}

.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child){
    margin-right: 10px;
}

.nav-manual .manual-btn:hover{
    background-color: #ff0054;
}

#radio1:checked ~ .nav-auto .auto-btn1, #radio2:checked ~ .nav-auto .auto-btn2, #radio3:checked ~ .nav-auto .auto-btn3{
    background-color: #ff0054;
}

#radio1:checked ~ .primeiro{
    margin-left: 0%;
}

#radio2:checked ~ .primeiro{
    margin-left: -25%;
}

#radio3:checked ~ .primeiro{
    margin-left: -50%;
}
/* fim da estilizacao do carrossel */


.container {
    display: flex;
    justify-content: center;
    width: 600px 20px; /* Ajuste a largura conforme necessário */
    margin: 10px auto; /* Centralizar o conteúdo */
}

.column {
    flex: 10;
    padding: 10px;
}

.row {
    margin: 10px ;
    border: 2px solid white;
    background-color: white;
    padding: 10px;
}

/* footer */
.container2{
	max-width: 1170px;
	margin:auto;
}
.row2{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
.graf{
    max-width: 740px;
}

/*mapa*/
.image{
    width: 100%;
    height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 20px;
  }

.container3 {
    position: relative;
  }

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40%;
    width: 40%;
    opacity: 0;
    transition: .5s ease;
    background-color: #6bb7f6;
  }
  
  .container3:hover .overlay {
    opacity: 1;
  }
  
  .cont{
    display: flex;
    justify-content: space-around;
    font-size:20px;
    margin: 50px;
  }
  
  .text {
    color: rgb(29, 35, 214);
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  } 
h1{
    font-family: sans-serif;
    font-size: 35px;
}

h2{
    font-family: serif;
    font-size: 25px;
}
h4{
    font-size: 20px;
}
